@CHARSET "ISO-8859-1";

* {
    box-sizing:     border-box;
    border:         0;                  /* Comment this out for debugging */
    }

body {
    background-color:   WhiteSmoke;
    margin:         0;
    font-size:      100%;
    }

/***********************************************************************
 *
 * Other pages
 */
.PageDiv {
    width:          100%;
    max-width:      1024px;
    display:        none;
    }

.SysName {
    color:          brown;
    }

.GPIOTable {
    font-size:      120%;
    }

.GPIOValue {
    height: 1.5em; 
    }

.LED { 
    border:         2px solid black;
    border-radius:  5px;
    -moz-border-radius: 3px;
    }

.NavButton { 
    max-height:     60px;
    border:         2px solid black;
    border-radius:  15px;
    -moz-border-radius: 15px;
    }

.NoBotMargin {
    margin-bottom:  0;
    }

input {
    border-style:   solid;
    border-width:   1px;
    border-color:   black;
    font-family:    helvetica, arial, sans serif;
    padding-left:   0px;
    font-size:      150%;
    color:          brown;
    }
